---
---

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i,700');

$typeface: 'Roboto', sans-serif;

$body: 300 18px/28px $typeface;
$h1: 700 80px $typeface;
$h2: 700 40px $typeface;
$h3: 700 24px $typeface;
$link: 500 18px/28px $typeface;
$blockquote: italic 500 18px/28px $typeface;

$off-white: #f7f9ff;
$light-black: #0c0c0c;
$crimson: #ff3500;

$pale-orange: #f7f1f5;
$dark-orange: #ef5236;
$cobalt: #2323ff;

$blue: #000073;
$dark-blue: #00004d;
$deep-orange: #ff401e;
$electric-blue: #0000ff;

$navy: #0f004d;
$dark-navy: #0c003e;
$lime-green: #77ff55;
$red: #ff0000;

$chocolate: #462f32;
$dark-chocolate: #312123;
$white: #ffffff;
$red-velvet: #993d49;

$background: $chocolate;
$circle: $dark-chocolate;
$text: $white;
$accent: $red-velvet;

@mixin topLeft() {
    top: -446px;
    left: -170px;
    height: 1000px;
    width: 1000px;
}

@mixin bottomRight() {
    bottom: -375px;
    right: -375px;
    height: 750px;
    width: 750px;
}

@mixin circle() {
    @include topLeft();
    background-color: $circle;
}

* {
    margin: 0;
}

*::selection {
    background-color: transparent;
}

body {
    background-color: $background;
    color: $text;
    max-width: 780px;
    margin: 54px auto;

    font: $body;

    h1 {
        font: $h1;
    }
    
    h2 {
        font: $h2;
    }
    
    h3 {
        font: $h3;
    }
    
    blockquote {
        font: $blockquote;
    }

    p {
        max-width: 540px;
    }

    a {
        color: $text;
        text-decoration: none;
    }

    div.circle {
        position: fixed;
        @include circle();
        border-radius: 50%;
        z-index: -1;
    }
}

header {
    height: 60px;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a.logo {
        display: flex;

        path.onigiri {
            fill: $text;
        }
    }

    nav {
        a {
            margin-right: 36px;

            font: $link;
        }

        a.active {
            border-bottom: 3px solid $accent;
        }
    
        a:last-child {
            margin: 0;
        }
    }
}

section {
    h2 + p, h3 + p {
        margin-top: 24px;
    }

    h2.title {
        margin-bottom: 40px;

        + p, + figure {
            margin-top: 0;
        }
    }

    blockquote {
        margin-top: 28px;
    }

    p {
        margin-top: 28px;

        + h3 {
            margin-top: 80px;
        }

        a {
            border-bottom: 3px solid $accent;
        }
    }

    figure {
        margin: 80px 0;

        img {
            max-width: 780px;
            vertical-align: bottom;
        }

        figcaption {
            display: none;
        }

        + figure {
            margin-top: 0;
        }

        + p {
            margin-top: 0;
        }
    }

    figure:first-child {
        margin-top: 0;
    }

    figure:last-child {
        margin-bottom: 0;
    }

    div.main-content {
        div.article {
            max-width: 540px;
            margin-top: 80px;

            p {
                margin-top: 16px;
            }
        
            p.read-more {
                max-width: 102px;
                margin-top: 36px;
                border-bottom: 3px solid $accent;

                font: $link;

                path.chevron {
                    fill: $text;
                }
            }
        }
    }
}

footer {
    height: 100px;
}
